<div class="card new-post">
    <div class="card-header">
        <h2>Create New Post</h2>
    </div>
    <form id="new-post-form" class="card-body">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" name="post-title" class="form-input">
        <label for="post-body" class="form-label">Content</label>
        <textarea name="post-body" rows="3" class="form-input"></textarea>
        <button class="btn" type="submit">Create Post</button>
    </form>
</div>

<script src="/js/new.js"></script>