<div class="box m-6">
  <form class="signup-form">

    <div class="field">
      <label for="username-signup" class="label">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input type="text" id="username-signup" class="input" />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label for="password-signup" class="label">Password</label>
      <div class="control has-icons-left has-icons-right">

        <input type="password" id="password-signup" class="input" />
        <span class="icon is-small is-left">
          <i class="fas fa-key"></i>
        </span>
      </div>
    </div>

    <div class="control">
      <button type="submit" class="button is-primary">Create New Account</button>
    </div>

  </form>

</div>

<script src="/js/signup.js"></script>