:root {
    --base: #1010d8;
    --light: #F5F5F7;
    --medium: #6E6E73;
    --dark: #55607a;
    --highlight1: #008DD5;
    --highlight2: #9b3c47;
    --border-radius: 7px;
    --box-shadow: rgba(0, 0, 0, 0.529) 0px 5px 15px 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light);
}

header {
    width: 100%;
    height: 30%;
    background-color: var(--base);
}

nav {
    width: 100%;
    padding: 1rem;
}

ul {
    width: 30%;
    font-size: 1.5rem;
    list-style: none;
}

header h1 {
    width: 100%;
    padding: 1rem;
}

.post-container {
    border: 1px solid var(--base);
}

.post-header {
    color: var(--light);
    background-color: var(--base);
}